{% extends "base.html" %}

{% block content %}

<div class="calendar_container">
	<table id="calendar_table">	
	   <thead>
	   <tr>
	   {% for day in days %}
	     <th>{{ day|date:"D d M" }}</th>
	   {% endfor %}
	   </tr>
	   </thead>
		<tr>
			{% for counts in counts_by_day %}
				<td class="weekdaycell">
				<ul>
					<li>Arriving for breakfast: {{ counts.arriving_breakfast }}</li>
					<li>Arriving for dinner: {{ counts.arriving_dinner }}</li>
					<li>Arriving for late: {{ counts.arriving_late }}</li>
					<li>Staying: {{ counts.staying }}</li>
					<li>Departing: {{ counts.departing }}</li>
					<li>Departing after breakfast: {{ counts.departing_breakfast }}</li>
					<li>Departing after dinner: {{ counts.departing_dinner }}</li>
					<li>Departing after late: {{ counts.departing_late }}</li>
					<li>Unconfirmed: {{ counts.unconfirmed }}</li>
				</ul>
				</td>
			{% endfor %}
		</tr>
		<tr>
		{% for meals in meals_by_day %}
			<td class="weekdaycell">
			{% for meal in meals %}
				{{ meal.kind }} - {{ meal.chef }}
				<ul>
				{% for shift in meal.shifts.all %}
					<li>{{ shift.get_role_display }}: {{shift.worker}}</li>
				{% endfor %}
				</ul>
			{% endfor %}
			</td>
		{% endfor %}
		</tr>
		<tr>
		{% for shifts in bike_shifts_by_day %}
			<td class="weekdaycell">
			<p>bikes:</p>
			{% for shift in shifts %}
				<p>{{shift.shift}}:{{shift.worker}}</p>
			{% endfor %}
		{% endfor %}
		</tr>		
	</table>
</div>

{% endblock %}