{% extends "base.html" %}

{% block content %}

{% csrf_token %}

<div id="landingtext">
	{{ home_content|safe }}

	{% if user.is_authenticated %}
	<p>If you're logging in for the first time ever or even the first time this year, please <a href="http://bioluminati.info/why-register/">read about registration</a>.</p>
	{% else %}
	<h3>You're not yet logged in</h3>
	<p>If you already a member, <a href="/auth/login/">login</a>.</p>
	<p>If you're new to Bioluminati, please <a href="http://bioluminati.info/">read about the process</a> of joining our camp.</p>
	{% endif %}
</div>

{% if user.is_council %}
<div>
	<h2>Editable pages -- for Council review</h2>
	<ul>
	{% for page in pages %}
	 <li><a href="/pages{{page.url}}">{{page.title}}</a> {% if user.is_staff %}-- <a href="{% url 'admin:flatpages_flatpage_change' page.id %}">admin</a> {% endif %}</li>
	{% endfor %}
	</ul>
	</p>
</div>
{% endif %}
{% endblock %}
