{% extends "base.html" %}

{% block content %}

{% csrf_token %}

<div id="landingtext">
	<h2>Bioluminati</h2>
	<p>Welcome to Bioluminati!  We're also known on Playa as Bicycle Mutation Station, formerly Pimp Your Bike.  <br>


	This camp has been on Playa for 20 consecutive years. That's a long time! 
	</p>

	We welcome new campers.

	<br>

	{% if user.is_authenticated %}

	If you're logging in for the first time ever or even the first time this year, please <a href="/pages/why-registration/">read about registration</a>.
</div>

{% endif %}


{% endblock %}
